# Example environment configuration

# ── KAFKA (production – Redpanda Cloud) ─────────────────────────
KAFKA_BROKER=d13pgevlr2pci89vo970.any.us-east-1.mpx.prd.cloud.redpanda.com:9092
KAFKA_TOPIC=llm_hits
KAFKA_USER=james-test
KAFKA_PASS=VMtJ5oB7jTKogAZWzhwJaHKdmwuInV

# ── CLOUD CLICKHOUSE ────────────────────────────────────────────────
CLICKHOUSE_HTTP_URL=https://eb450p88ul.us-central1.gcp.clickhouse.cloud:8443
CLICKHOUSE_URL=https://eb450p88ul.us-central1.gcp.clickhouse.cloud:8443
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=dVRVy2~U1JjOj

# ── OTHER VARS ───────────────────────────────────────────────────────
NEXT_PUBLIC_SITE_ID=nudgefactor.co.uk
SALT=quickdemo
LOG_ENDPOINT=/api/log-bot
LAMBDA_PROXY_URL=https://kbr5uzx2ugwjj2vrzkkjrgp5mm0fwkws.lambda-url.us-east-2.on.aws/
